html {
  color-scheme: light dark;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: 'InterVariable', sans-serif;
}
