/* Submenu container */
.sidebar-submenu {
  @apply flex flex-col gap-2 mt-2 ml-6 pl-1 border-l-2;
  border-color: rgb(var(--border));
}

/* Submenu item */
.sidebar-submenu-item {
  @apply px-3 py-1 rounded-lg text-sm transition-colors;
  color: rgb(var(--muted-foreground));
  text-decoration: none;
}

/* Hover submenu item */
.sidebar-submenu-item:hover {
  @apply no-underline;
  background-color: rgb(var(--muted));
  color: rgb(var(--foreground));
}

/* Submenu item active */
.sidebar-submenu-item.active {
  @apply mt-2 no-underline rounded-lg;
  background-color: rgb(var(--border));
  color: rgb(var(--foreground));
}
